# binaries
*.exe
govd

# build artifacts
.env
tmp/

# ides and editors
.idea/

# system files
.DS_Store

# project folders
downloads/
logs/
private/

# i18n translations
translate.*.toml

# Agents
CLAUDE.md
